::selection {
  color: #eee;
  background: green;
}
body ::-webkit-scrollbar {
  height: 16px;
  overflow: visible;
  width: 16px;
}
body ::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .1);
  background-clip: padding-box;
  border: solid transparent;
  min-height: 28px;
  padding: 100px 0 0;
  box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);
  border-width: 1px 1px 1px 6px;
}
body ::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
body ::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}
#mapDiv {
  -webkit-filter: none;
  opacity: 1;
  height: 600px;
  width: 1200px;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background-clip: padding-box;
  border: solid transparent;
  border-width: 0 0 0 4px;
}
body ::-webkit-scrollbar-corner {
  background: transparent;
}
html, body {
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
body {
  color: #222;
  font-family: 'Open Sans', arial, sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  padding: 2em;
  background: -webkit-gradient(radial, center center, 500, center center, 1400, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.6))) #fff;
  background: -moz-radial-gradient(farthest-side, rgba(0,0,0,0) 90%, rgba(0,0,0,0.2) 150%) #fff;
  background: -webkit-radial-gradient(farthest-side, rgba(0,0,0,0) 90%, rgba(0,0,0,0.2) 150%) #fff;
  background: -ms-radial-gradient(farthest-side, rgba(0,0,0,0) 90%, rgba(0,0,0,0.2) 150%) #fff;
  background: -o-radial-gradient(farthest-side, rgba(0,0,0,0) 90%, rgba(0,0,0,0.2) 150%) #fff;
  background: radial-gradient(farthest-side, rgba(0,0,0,0) 90%, rgba(0,0,0,0.2) 150%) #fff;
  box-sizing: border-box;
}
a {
  color: navy;
}
details {
  position: absolute;
  top: 10;
  left: 8.5em;
  margin: 1em 0;
  padding: 10px;
  background: #fff;
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 5px;
  max-width: 600px;
  font-size: 10pt;
  z-index: 100;
  background: #F7F7F7;
}
details > div {
  margin: 10px 0;
}
details > summary {
  cursor: pointer;
  white-space: nowrap;
}
.no-details details > * { display: none; }
.no-details details > summary:before { content: '► '; }
.no-details details[open] > summary:before { content: '▼ '; }
.no-details details > summary:before { float: left; width: 20px; content: '► '; }
.no-details details.open > summary:before { content: '▼ '; }
.no-details details > summary { padding-left: 20px; background: url(img/arrow-sprite.png) no-repeat 0 0; }
.no-details details.open > summary { background-position: 0 -20px; }
.no-details details summary { display: block; }
button {
  display: inline-block;
  background: -webkit-gradient(linear, 0% 40%, 0% 70%, from(#F9F9F9), to(#E3E3E3));
  background: -webkit-linear-gradient(#F9F9F9 40%, #E3E3E3 70%);
  background: -moz-linear-gradient(#F9F9F9 40%, #E3E3E3 70%);
  background: -ms-linear-gradient(#F9F9F9 40%, #E3E3E3 70%);
  background: -o-linear-gradient(#F9F9F9 40%, #E3E3E3 70%);
  background: linear-gradient(#F9F9F9 40%, #E3E3E3 70%);
  border: 1px solid #999;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
button:not(:disabled):hover,
button:not(:disabled).active {
  border-color: black;
}
button:not(:disabled):active,
button:not(:disabled).active {
  background: -webkit-gradient(linear, 0% 40%, 0% 70%, from(#E3E3E3), to(#F9F9F9));
  background: -webkit-linear-gradient(#E3E3E3 40%, #F9F9F9 70%);
  background: -moz-linear-gradient(#E3E3E3 40%, #F9F9F9 70%);
  background: -ms-linear-gradient(#E3E3E3 40%, #F9F9F9 70%);
  background: -o-linear-gradient(#E3E3E3 40%, #F9F9F9 70%);
  background: linear-gradient(#E3E3E3 40%, #F9F9F9 70%);
}
input[type="range"]{
  -webkit-appearance: none !important;
  background-color: #555;
  box-shadow: 0 -1px 1px rgba(255,255,255,0.5) inset;
  border-radius: 10px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  width: 20px;
  height: 8px;
  box-shadow: 1px 1px 5px rgba(0,0,0,1);
  cursor: pointer;
  border-top: 1px solid #fff;
  background: #ccc -webkit-linear-gradient(top, rgb(240, 240, 240), rgb(210, 210, 210));
}
h2 {
  margin: 0;
  font-weight: 300;
}
 html, body {
      overflow: scroll;
      padding:0;
      margin:0;
      height:100%;
}    
article {
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-flex-direction: column;
    
  display: flex;
  align-items: center;
  flex-direction: column;
}    
article > section {
  margin: 1em 0;
}
.cols {
  -webkit-columns: 3;
  columns: 3;
  width: 80%;
}
.cols > span {
  display: inline-block;
  width: 100%;
}
.cols > span > span {
  width: 35%;
  display: inline-block;
  white-space: nowrap;
}
.cols > span > span:after {
  content: '():';
}
hgroup {
  text-align: center;
  margin-bottom: 1em;
}
output {
  display: block;
  font-size: 12pt;
  font-weight: 900;
}
@-webkit-keyframes grayscale-anim {
  from { -webkit-filter: grayscale(0); }
  to   { -webkit-filter: grayscale(1); }
}
@-moz-keyframes grayscale-anim {
  from {-Moz-filter: grayscale(0);}
  to { -Moz-filter: grayscale(1);}
}
@-webkit-keyframes sepia-anim {
  from { -webkit-filter: sepia(0); }
  to   { -webkit-filter: sepia(1); }
}
@-webkit-keyframes blur-anim {
  from { -webkit-filter: blur(0); }
  to   { -webkit-filter: blur(10px); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotateZ(0deg); }
  to   { -webkit-transform: rotateZ(360deg); }
}
.grayscale {
  -webkit-animation: grayscale-anim 2s ease-in-out;
  -webkit-animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
}    
.sepia {
  -webkit-animation: sepia-anim 2s ease-in-out;
  -webkit-animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
}
.blur {
  -webkit-animation: blur-anim 0.5s linear;
  -webkit-animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
}
.spin {
  -webkit-animation: spin 10s linear;
  -webkit-animation-iteration-count: infinite;
}
article > section > div {
  border-radius: 10px;
}		
#esri-logo {
  height: 256px;
  position: absolute;
  bottom: -4em;
  right: -4em;
  opacity: 0.2;
  -webkit-filter: grayscale(0.3) blur(8px);
  z-index: -1;
}    
.drop-shadow {
  padding: 1em 1em 0.8em 1em;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset, 0 5px 10px #ccc;
}    
@media screen and (max-width: 1000px) {
  html, body {
    overflow: auto;
  }
  body {
    font-size: 24px;
  }
  details {
    max-width: 275px;
    font-size: 32px;
  }
  hgroup {
    margin-bottom: 0;
  }
  hgroup h2 {
    margin-top: 5em;
  }
  .drop-shadow {
    padding: 0.5em 0.5em 0.2em 0.5em;
  }
  .cols {
    -webkit-columns: 2;
    columns: 2;
    width: auto;
  }
  .cols > span {
    margin: 0 0 40px 0;
  }
  output {
    font-size: 24px !important;
  }
  article > section {
    margin: 0.5em 0;
  }
  article > section button {
    font-size: 48px;
    margin: 0 40px 0 0
  }
  article > section:nth-child(2) {
    height: 89px;
  }
  article > section:last-of-type > span {
    display: block; 
    margin-bottom: 5px;
  }
  input[type="range"] {
    display: block;
    margin: 15px 0 0 0;
    width: 300px;
  }
}
    